/*
Font: 		
Style: 		
URL: 		https://youworkforthem.com/font/T25040/herd
Foundry: 	Wahyu & Sani Co.
Foundry: 	https://youworkforthem.com/designer/1352/wahyu-amp-sani-co
Copyright:	
Version: 	17
Created:	August 05, 2024
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Herd-ExtraBlackItalic';
	src: url('herd-extra-black-italic.eot');
	src: url('herd-extra-black-italic.eot?#iefix') format('embedded-opentype'),
             url('herd-extra-black-italic.woff2') format('woff2'),
	     url('herd-extra-black-italic.woff') format('woff'),
	     url('herd-extra-black-italic.ttf') format('truetype'),
	     url('herd-extra-black-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
