@font-face {
  font-family: "badger";
  src: url("./assets/Badger.otf");
}

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);



body {
  background: #0d0d0d;
  color: #f5f5f5;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.header {
  width: 40%;
  text-align: center;
  margin: auto;
}

img {
  width: 100%;
}

h1 {
  font-family: "herd";
  font-size: 8rem;
  margin-bottom: 0;
  margin-right: 0;
}

.badger {
  font-family: "badger";
  font-size: 2rem;
}

.content-box {
  margin: auto;
  width: 50%;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background: #f5f5f5;
  color: #1d1d1d;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 4px;
  width: 20%;
}

#status-text {
  display: inline;
}

a {
  color: white
}

a.visited {
  color: white;
}

.footer {
  color: #383838;
}